@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

body {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #4e4e4e !important;
}

code {
  font-family: "Quicksand", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
